# Project exclude paths
/out/
/bin/
/export/
Fichiers Graphiques/0.1a - Scenario - Chicago- 21_12.png
Fichiers Graphiques/0.1b - Scenario - Chicago - 21_12.png
Fichiers Graphiques/0b - Scenario - Japon - 21_12.png
Fichiers Graphiques/0a - Scenario - Japon - 21_12.png
Fichiers Graphiques/1a - Scenario - Microfilm - 21_12.png
Fichiers Graphiques/1b - Scenario - Microfilm - 21_12.png
Fichiers Graphiques/2a - Scenario - Banksy - 21_12.png
Fichiers Graphiques/2b - Scenario - Banksy - 21_12.png
Fichiers Graphiques/3a - Scenario - Meurtre - 21_12.png
Fichiers Graphiques/3b - Scenario- Meurtre - 21_12.png
Fichiers Graphiques/4a - Scenario - Casse du siècle- 21_12.png
Fichiers Graphiques/4b - Scenario - Casse du siècle- 21_12.png
Fichiers Graphiques/5a - Scenario - La Pandémie - 21_12.png
Fichiers Graphiques/5b - Scenario- la Pandémie - 21_12.png
Fichiers Graphiques/6a - Scenario - Robots - 21_12.png
Fichiers Graphiques/6b - Scenario- Robots - 21_12.png
Fichiers Graphiques/Découpes.svg
Fichiers Graphiques/Problems.psd
/Fichiers Graphiques/
